<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ISV Support</title>
    <meta name="index" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="jumbotron text-center">
        <h1>ISV Support</h1>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-sm-3" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <a href={% url 'zendesk:posts'%}>
                            <h4 class="card-title text-center">All Posts</h4>
                            <p class="card-text text-center">All Posts from Zendesk</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <a href={% url 'zendesk:NET_Java'%}>
                            <h4 class="card-title text-center">OXPd .NET/Java</h4>
                            <p class="card-text text-center">Server Side Logic using C# or Java</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <a href={% url 'zendesk:JS'%}>
                            <h4 class="card-title text-center">OXPd JavaScript</h4>
                            <p class="card-text text-center">Client Side Logic using JavaScript</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <a href={% url 'zendesk:Jedi'%}>
                            <h4 class="card-title text-center">Jedi Embedded</h4>
                            <p class="card-text text-center">Jedi Services and Embedded SDKs</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-3" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <a href={% url 'zendesk:Samsung'%}>
                            <h4 class="card-title text-center">Samsung Printing SDKs</h4>
                            <p class="card-text text-center">SDKs and Technologies for Samsung Printers</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <a href={% url 'zendesk:SaaS'%}>
                            <h4 class="card-title text-center">OXPw SaaS</h4>
                            <p class="card-text text-center">JetAdvantage OnDemand Cloud Platform</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <a href={% url 'zendesk:Pro'%}>
                            <h4 class="card-title text-center">OXPd Pro</h4>
                            <p class="card-text text-center">OXPd Support on HP Pro Devices</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <a href={% url 'zendesk:Pub'%}>
                            <h4 class="card-title text-center">Public SDKs</h4>
                            <p class="card-text text-center">SDKs Available to the Public</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <hr/>
    <p>Search for post with post id</p>
    <form action="{% url 'zendesk:index'%}" method="get">
        <input type="search" name="postid"/>
        <input type="submit" value="Search" />
    </form>
    {% if search %}
        <ul>
            <h6>Search Result: </h6>
            <a href={% url 'zendesk:post_detail' search.id %}>{{ search.title }}</a>
        </ul>
    {% else %}
        <p>Ticket Searched Dose Not Exist</p>
    {% endif %}

</body>
</html>