{% extends 'zendesk/base.html' %}
{% block title %}ISV Support{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>ISV Support</h1>


        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">
            Download Excel
        </button>
    </div>
  <!-- 模态框 -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- 模态框头部 -->
        <div class="modal-header">
          <h6 class="modal-title">Download Excel</h6>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- 模态框主体 -->
        <div class="modal-body">
            <p>The latest excel is built on {{ latest.date }} {{ latest.time }}, do you want download it?</p>

        </div>

        <!-- 模态框底部 -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary">
                <a style="color: aliceblue" href={% url 'zendesk:download_posts' %}>Download Posts</a>
            </button>
            <button type="button" class="btn btn-secondary">
                <a style="color: aliceblue" href={% url 'zendesk:download_comments' %}>Download Comments</a>
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
        </div>

      </div>
    </div>
  </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-3" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <a href={% url 'zendesk:posts'%}>
                            <h4 class="card-title text-center">All Posts</h4>
                            <p class="card-text text-center">All Posts from Zendesk</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <a href={% url 'zendesk:NET_Java'%}>
                            <h4 class="card-title text-center">OXPd .NET/Java</h4>
                            <p class="card-text text-center">Server Side Logic using C# or Java</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <a href={% url 'zendesk:JS'%}>
                            <h4 class="card-title text-center">OXPd JavaScript</h4>
                            <p class="card-text text-center">Client Side Logic using JavaScript</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <a href={% url 'zendesk:Jedi'%}>
                            <h4 class="card-title text-center">Jedi Embedded</h4>
                            <p class="card-text text-center">Jedi Services and Embedded SDKs</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-3" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <a href={% url 'zendesk:Samsung'%}>
                            <h4 class="card-title text-center">Samsung Printing SDKs</h4>
                            <p class="card-text text-center">SDKs and Technologies for Samsung Printers</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <a href={% url 'zendesk:SaaS'%}>
                            <h4 class="card-title text-center">OXPw SaaS</h4>
                            <p class="card-text text-center">JetAdvantage OnDemand Cloud Platform</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <a href={% url 'zendesk:Pro'%}>
                            <h4 class="card-title text-center">OXPd Pro</h4>
                            <p class="card-text text-center">OXPd Support on HP Pro Devices</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" style="background-color:lavender;">
                <div class="card">
                    <div class="card-body">
                        <a href={% url 'zendesk:Pub'%}>
                            <h4 class="card-title text-center">Public SDKs</h4>
                            <p class="card-text text-center">SDKs Available to the Public</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
