<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post {{ post.id }}</title>
</head>
<body>
    <a href={% url 'zendesk:index' %}>Back to main page</a>
    <h1>#{{ post.id }}  {{ post.title }}</h1>
    <h6>{{ post.topic_id }}</h6>
    <h6>{{ post.author_id }}</h6>
    <h6>Updated At:{{ post.updated_at_str }}</h6>
    <ul>{{ post.details | safe}}</ul>
    {% for c in comments %}
        <hr />
        <h6>{{ c.author_id }}</h6>
        <h6>Updated At:{{ c.updated_at_str }}</h6>

        <div id="content">{{ c.body | safe}}</div>

    {% endfor %}
</body>
</html>